@use './colors' as *;
$link-size: 18px;
$card-width: 400px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin main-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;

        ul {
            list-style: none;

            li {
                display: inline-block;
                font-size: $link-size;
            }

            .btn {
                text-decoration: none;

                &:hover {
                    color: $link-color; 
                } 
            }
        }
    }
}

.main-header-light {
    @include main-header();
}

.main-header-dark {
    @include main-header;
    background-color: #000000;
    .navbar ul li a {
        color: white;
        &:hover {
            color: yellow;
        }
    }
}

.contact-btn {
    @extend .btn !optional;
    background-color: $bg-color;
    border: 1px solid;
    border-color: $contact-border-color;
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            width: $card-width;
            height: 200px;
            border: 1px solid black;
            margin: 0 30px;
            &:first-child {
                width: calc($card-width / 3);
            }
        }
    }
}


                    