* {
    /*background-image: linear-gradient(45deg, red, blue);*/
    /*font-size: 30px;*/
}

/*p {
    color: aqua;
    text-align: right;
}

h1 {
    color: blue;
    mo
}

h2 {
    color: red;
}*/

h3 {
    color: yellow;
}

h4 {
    color: orange;
}

h5 {
    color: violet
}

h6 {
    color: green
}

#tit5 {
    background-color: black;
}

.i30px {
    font-size: 30px;
}

.trasparency {
    opacity: 0.1;
}

.bold {
    font-weight: 500;
}

.shadow {
    text-shadow: 2px 2px red;
}

/*p,*/ h1, button {
    text-align: center;
}

a:hover {
    color: white;
}

#lastLi::first-letter {
    color: white;
}

#p2 {
    color: black;
}

.paragraph {
    color: red;
}

.container {
    color: black;
    text-align: center;
}

#p3 {
    color: rgb(255, 0, 0);
}

#p4 {
    color: #0000ff;
}

#p5 {
    color: rgba(0, 0, 255, 0.3);
}

#p6 {
    color: white;
}

.container_square{
    width: 200px;
    height: 200px;
}

.square_1 {
    width: 50%;
    height: 50%;
    background-color: red;
}

.square_2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
} 

html {
    font-size: 16px;
}

.em-rem {
    font-size: 2px;
}

div.em-rem p.rem {
    font-size: 7rem;
}

div.em-rem .em {
    font-size: 7em;
}

#padd {
    padding: 20px;
    border: #0000ff solid; 
    margin: 20px;;
}

#padd a[data-b="3"] {}

ul li {
    display: inline-block;
}

p span {
    border: 3px;
    background-color: blue;
    width: 5px;
    height: 5px;
}

p span.inline {
    display: inline;
}

p span.inline-block {
    display: inline-block;
}

p span.block {
    display: block;
}
