$link-size: 18px;
$link-color: #ff0000;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


    .navbar {
        background-color: burlywood;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;

        ul {
            list-style: none;

            li {
                display: inline-block;
                font-size: $link-size;
            }

            a {
                text-decoration: none;

                &:hover {
                    color: $link-color;
                }
            }
        }
    }
}