@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply border bg-gray-200 m-2 active:border-gray-500 rounded text-xl p-3
    }
    .divider { 
        @apply w-full my-6 h-[1px] bg-gray-500 
    }
    .card {
        border: 1px solid black;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: 400px; 
        margin: 0 auto; 
        padding: 16px;
    }
}

nav {
    display: flex;
    gap: 10px;
    padding: 10px;
}
